
<div id="element2">
  <input class="btn btn-danger"  [routerLink]="['add']" id="submit" value="Add new" *ngIf="auth.loggedIn" type="submit">
  <a class="btn btn-danger ml-2" (click)="logout()" href="#" *ngIf="auth.loggedIn">Logout</a>
  <a class="btn btn-danger" [routerLink]="['login']" href="#" *ngIf="!auth.loggedIn">Login</a>
</div>
  <table class="table table-bordered table-light table-striped table-hover">
      <thead class="thead-dark">
          <tr>
              <th>#</th>
              <th scope="col">IP</th>
              <th scope="col">DiskSize</th>
              <th scope="col">Memory</th>
              <th scope="col">OS</th>
              <th scope="col">OS version</th>
              <th scope="col">Created Time</th>
              <th scope="col">Status</th>
              <th *ngIf="auth.loggedIn"></th>
          </tr>
          <tr *ngFor="let post of posts">
              <td>{{post._id}}</td>
              <td>{{post.ip}}</td>
              <td>{{post.disksize}}</td>
              <td>{{post.memory}}</td>
              <td>{{post.operatingsystem}}</td>
              <td>{{post.osversion}}</td>
              <td>{{post.createdtime | date:'dd.MM.yyyy HH:mm' }}</td>
              <td>{{post.status}}</td>
              <td *ngIf="auth.loggedIn"><a class="btn btn-danger" routerLink="/edit/{{post._id}}">Muuda</a> <button class="ml-2 btn btn-danger" (click)="delete(post._id)">Kustuta</button></td>
          </tr>
      </thead>
      <tbody>
          <!-- ngRepeat: r in getServer -->
      </tbody>
  </table>