
<h4 *ngIf="error">{{error}}</h4>
<form (ngSubmit)="submit()">
  <div class="form-group">
    <label for="exampleInputEmail1">User name</label>
    <input type="email" name="username" class="form-control" placeholder="User name" [(ngModel)]="username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>