
  <div class="form-group">
      <label for="exampleInputEmail1">IP</label>
      <input required type="text" class="form-control" [(ngModel)]="postData.ip">
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1">Disk Size</label>
      <input required type="text" class="form-control" [(ngModel)]="postData.disksize">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Memory</label>
      <input required type="text" class="form-control" [(ngModel)]="postData.memory">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">OS</label>
      <input required type="text" class="form-control" [(ngModel)]="postData.operatingsystem">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">OS Version</label>
      <input required type="text" class="form-control" [(ngModel)]="postData.osversion">
    </div>
   
    <button type="submit" class="btn btn-primary" (click)="updatePost()">Submit</button>
  